
#board {
    margin: 0 auto;
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
    width: 500px;
    height: 500px;
    position: relative;
}

#ball {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#paddle {
    background-color: skyblue;
    width: 10px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 480px;
    cursor: pointer;
}

#scoreBoard {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}